!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    %meta{:content => "authenticity_token", :name => "csrf-param"}/
    %meta{:content => "agsZHoKu7JR+q/cEflOb3FinNvE0v9dr07ENRwUL8Z/eHkDi8b56C/7YKim6brOm7VBrokSRyjvnaYj/JC/EmA==", :name => "csrf-token"}/
    %link{"data-turbolinks-track" => "reload", :href => "/assets/application-e66896919920db9cb5b5d601a817ab1099691bfddbbd355c65b549b11d7b1958.css", :media => "all", :rel => "stylesheet"}/
    %script{"data-turbolinks-track" => "reload", :src => "/assets/application-11431a2aeef6ab6765ca93b518c6f8650fcffef3a41e7f77cc09f002e32bfd88.js"}

%body
  .notification

.wrapper
.side-bar
  .side-header
  %h3.header__name kurochang
  %ul.header__lists
    %li
    %li

  .groups
    .group
    .group

  .chat
    .header
    .left-header
      .left-header__title 俺
      %ul.left-
        %li.members
          %li.member

    .right-header

  .messages js-messgaes
  .form
