
    .side-header {
        background-color: #253141;
        height: 100px;
        line-height: 100px;
        padding: 0 20px;


              .list {
                  display:inline-block;
                  .li.list {
                      color: #fff;
                      font-size: 16px;
                  }
              }
            }

.my_white {
  color:white
}
 .header__name {
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            color:white;
               }

.header__lists {
              display: inline-block;
              float:right;
            }
